coverage/
custom/
/scripts/
docs/jsdoc/@hyfy/jsclient/*/scripts/
.idea/
.env
.DS_Store
.vscode/
dist/
node_modules/
AGENTS.md
TODO.md
CHANGE_LOG.md
naeural-jsclient-*.tgz
hyfy-jsclient-*.tgz
*.tgz
tests/
docs/
.github/
